body {
  background-color: #f2f2f2;
  padding: 12px 0;
  margin: 0;
  font-family: roboto;
  font-size: 14px;
  font-weight: bold; }

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; }
  #wrapper #events {
    display: flex;
    width: 100%;
    background-color: white;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: column;
    background-color: #f7f7f7; }
    #wrapper #events.full {
      height: 300px; }
    #wrapper #events::-webkit-scrollbar {
      display: none; }
    #wrapper #events .element {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      padding-right: 4px; }
      #wrapper #events .element .date {
        padding: 8px 8px 8px 8px;
        display: flex;
        flex-direction: column;
        align-items: start; }
        #wrapper #events .element .date .day {
          font-size: 24px;
          height: 24px; }
      #wrapper #events .element .row {
        display: flex;
        align-items: center;
        height: 60px;
        margin: 4px 0;
        background-color: white; }
        #wrapper #events .element .row .column {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          padding: 0 8px;
          background-position: center;
          transition: background 0.8s; }
          #wrapper #events .element .row .column.team {
            min-width: 30px; }
          #wrapper #events .element .row .column .cell {
            display: flex;
            text-align: center;
            align-items: center;
            height: 50%; }
            #wrapper #events .element .row .column .cell .name {
              font-size: 12px; }
            #wrapper #events .element .row .column .cell .flag-icon {
              border-radius: 3px;
              zoom: 1.8;
              position: relative; }
              #wrapper #events .element .row .column .cell .flag-icon .score {
                display: none;
                font-weight: bolder;
                font-size: 8px;
                top: 0;
                z-index: 2;
                justify-content: center;
                width: 100%;
                position: absolute; }
              #wrapper #events .element .row .column .cell .flag-icon.show:after {
                content: "";
                z-index: 1;
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.9); }
              #wrapper #events .element .row .column .cell .flag-icon.show .score {
                display: block; }
              #wrapper #events .element .row .column .cell .flag-icon.no-flag {
                background-color: lightgrey; }

#more {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #000; }
  #more #more-icon {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 0 4px; }
    #more #more-icon path {
      fill: #fd5c3c;
      fill-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 1.41421; }

.header {
  font-size: 16px;
  background: url(http://www.leovegas.com/static/sports-client/images/pattern@2x.1445bc71.png) 0 0 repeat, linear-gradient(90deg, #f58249, #fd5c3c);
  padding: 8px 16px;
  color: white;
  justify-content: space-between;
  display: flex; }
  .header .nav {
    margin-top: 2px;
    display: flex;
    align-items: center; }
    .header .nav .arrow-icon path {
      fill: white;
      fill-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 1.41421; }
    .header .nav .arrow-icon.left {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      opacity: 0.7;
      padding-left: 12px; }
